
li{
    list-style: none;
}
/* 图标 */
.icon-duibifenxi{
    color:white;
}
.icon-paixingbang{
    color:white;
    float: left;
}
.icon-xiugai{
    color:white;
    float:right;
    margin-top: -38px;
    margin-right: 37%;
}
.icon-xinxi{
    width:100px;
    height:100px;
    color:white;
    float:left;
}
.icon-baogaogongdan{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-rizhi{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-shiwubang{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-wd-copy-copy{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-dingqixiaojie{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-jiantou{
    float:right;
    margin-top: -10px;
}
.icon-refresh{
    color:white;
    float:right;
    margin-top: -30px;
    margin-right:10px;

}
.icon-tuijianfuwu{
    margin-top: 20px;
    margin-left: 20px;
}
.icon-jiantouarrowhead7{
    color:white;
    float: left;
    margin-left: 10px;
    
}
.icon-dongtai{
    color:rgb(86,186,186);
    margin-top: 10px;
    text-align: center;
   
}
.icon-shoucang2{
    color:rgb(86,186,186);
    margin-top: 10px;
    text-align: center;
}
.icon-shiwu{
    color:rgb(86,186,186);
    margin-top: 10px;
    text-align: center;
}
.icon-shoucang3{
    margin-top: 10px;
    margin-left:20px;
}
/*首页 */
.home-search{
    width:80%;
    height:40px;
    margin-top:5%;
    margin-left:10%;
    background-color:white;
    border:1px solid rgb(86,186,186)
}
#home-left{
    /* float: left; */
    width:30%;
    height:30px;
    position: absolute;
    
    margin-top:3%;
    margin-left: 10%;
}
#home-right{
    float:right;
    width:30%;
    height:30px;
  
    margin-top: 3%;
    margin-left: 65%;
}
.big{
    width:100%;
    height:50px;
   
}
#compare{
    margin-left: 13%;
   
    color:white;
}
#bang{
    margin-left:5%;
    color:white;
}
#healthy{
    width:90%;
    height:230px;
    background-color: white;
    box-shadow: 2px 2px 10px #909090;
    margin-left:5%;
    margin-top: 20px;
    padding-top: 15px;
    border-radius: 30px 30px 30px 30px;
}
#rec{
    font-size: 20px;
    padding-left: 30px;
}
#rep{
    font-size: 15px;
    /* padding-left: 120px; */
    float:right;
    margin-right: 10px;
    color: grey;
}
#eat{
    width:95%;
    height:600px;
    background-color: white;
    margin-left: 2%;
    margin-top: 20px;
    padding-top: 10px;
}
#morning{
    width:90%;
    height:100px;
    background-color: white;
    margin-left: 5%;
    margin-top: 20px;
    padding-top: 10px;
    border:1px solid #bbe1f1;background:#eefaff
   
}
#morning li{
    float: left;
    width:30%;
    height:90%;
    margin-left: 2%;
}
#picture{
    width:100%;
    height:100%;
    margin-left:5%;
    margin-top:3px;
}

/*食物排行榜*/
.foodrank{
    width: 100%;
    height: 900px;
    background-color: white;
}
.foodrank-header{
    width:100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color:white;
    font-size: 18px;
    background-color: rgb(86,186,186);
}
.foodrank-header span{
    margin-right: 120px;
}
.foodrank ol{
    margin-top: 0px;
    width: 20%;
    height: 550px;
    background-color: rgb(238, 237, 237);
}
.foodrank ol li{
    width: 100%;
    height: 45px;
    
    text-align: center;
    line-height: 45px;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}
.foodrank ol li:hover{
    background-color: lightgray;
}
.foodlist{
    float: left;
    margin-top: -548px;
    margin-left: 20%;
    width: 100%;

}
.foodlist li{
    width: 80%;
    height: 80px;
    border-bottom:1px solid silver ;
}
.foodlist-name{
    float: right;
    margin-right: 20%;
    margin-top: 20px;
}
.foodlist-name p{
    width: 150px;
}
.foodrank-picture{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}
.icon-shoucang:hover{
    color:red;
}
.icon-dianzan1:hover{
    color:red;
}
.icon-dianzan1:visited{
    color:red;
}
.icon-shoucang:visited{
    color:red;
}
/* 每日推荐 */
#recommend{
    width:160px;
    height:200px;
    background-color:white;
    margin-top: 15px;
    float: left;
    margin-left: 20px;
    box-shadow: 0px 15px 10px -15px #909090;
  
}
/* 我的 */
#user{
    width:50px;
    height:50px;
    margin-left: 10%;
    margin-top: 40px;
    
}
#nav{
    width:80%;
    height:70px;
    position:relative;
    background-color:white;
    margin-top:-30px;
    margin-left:10%;
    border-radius: 10px 10px 10px 10px;
    border:1px solid #ccc;
}
#mytrend{
    width:60px;
    height:60px;
    position:relative;
    float:left;
    margin-left:10%;
    background-color: white;
}
#middle{
    width:60px;
    height:60px;
    margin-left:2%;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}
#lastrend{
    width:60px;
    height:60px;
    position:relative;
    float:right;
    margin-right:7%;
    background-color: white;
}
#mytrend img{
    width:60px;
    height:60px;
}
#report{
    width:90%;
    height:700px;
    background-color:white;
    margin-left:5%;
    margin-top:10px;
    border-radius: 10px 10px 10px 10px;
    border:1px solid #ccc;
}
#healthyrep{
    width:90%;
    height:40px;
    background-color: white;
    margin-left: 5%;
    border-bottom: 1px solid #ccc;

}
#word{
    padding-top:10px;
    padding-left:40px;
}
/* 对比详情页 */
#comleft{
    position: relative;
    width:90px;
    height:90px;
    background-color:white;
    float:left;
    margin-left:10%;
    margin-top:30px;
   
}
#conright{
    position: relative;
    width:90px;
    height:90px;
    background-color:white;
    float:right;
    margin-right:10%;
    margin-top:30px;
    
}
.compare-img{
    position: absolute;
    width: 90px;
    height: 90px;
}
.vs{
    width:50px;
    height:50px;
    margin-left:2%;
    margin-top:50px;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%, -50%);
}
/* 添加食物 */
#mornfood li{
    border-bottom: 1px solid #ccc;
}
/* 健康报告 */
#score{
    width:100px;
    height:100px;
    background-color: white;
    margin-left: 40%;
    margin-top: 40px;
    border-radius: 55px;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    line-height: 100px;
    border:5px solid rgb(86,186,186);
}
#weight{
    width:90%;
    height:200px;
    margin-left: 6%;
    margin-top: 20px;
    background-color: white;
}
#diary{
    width:90%;
    height:400px;
    margin-left: 6%;
    margin-top: 20px;
    background-color: white;
}
#weekday{
    width:9%;
    height:200px;
    background-color: white;
    border-right: 1px solid #ccc;
    float:left;
    margin-left: 4%;
    margin-top: 10px;
}
.date{
    margin-top:10px;
    width:80%;
    height:15%;
    background-color:rgb(188,238,244);
    border-radius:18px;
    text-align:center;
    margin-left:8%;
    line-height:30px;
}

.neweight{
    width:50px;
    height:25px;
    background-color:rgb(188,238,244);
    border-radius:10px;
    text-align:center;
    line-height:30px;
    float:left;
    margin-left:90px;
    margin-top:-20px;
}

/* 记录体重 */
.dayweight{
    margin-top:20px;
    margin-left:16%;
    border:1px solid #ccc;
    width: 70%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    /* background-color:  rgb(130, 235, 235); */
}
.record{
    height: 40px;
    /* width: 100px; */
    border-radius: 5px;
    /* background-color: rgb(86,186,186); */
    border: 2px solid  rgb(86,186,186);
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-left: 20%;
}
.sure{
    width: 50px;
    height: 40px;
    margin-left: 10px;
    border: 2px solid  rgb(86,186,186);
    border-radius: 5px;
    background-color: white;
}

/*基本信息*/
#infor{
    width:340px;
    height:600px;
    background-color:white;
    margin-left:15px;
    margin-top:10px;
    border-radius: 10px 10px 10px 10px;
    border:1px solid #ccc;
}
#inforrep{
    width:320px;
    height:25px;
    background-color: white;
    padding-top: 20px;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
}
#words{
    padding-top:10px;
    padding-left:10px;
}

/*我的动态*/
.send{
    width:90%;
    height:120px;
    margin-left:6%;
    margin-top:10px;
    border-radius:10px;
    background:#eefaff ;
    outline:10px solid #bbe1f1;
    box-shadow:0 0 0 5px #bbe1f1 ;
}
.del{
    color:white;
    width:50px;
    height:80px;
    margin-top:-40px;
    margin-left:80%;
    background-color:rgb(86,186,186);
    border:none;
}