li{
    list-style: none;
}
/* 图标 */
.icon-duibifenxi{
    color:white;
}
.icon-paixingbang{
    color:white;
    float: left;
}
.icon-xiugai{
    color:white;
    float:right;
    margin-top: -38px;
    margin-right: 165px;
}
.icon-xinxi{
    width:100px;
    height:100px;
    color:white;
    float:left;
}
.icon-baogaogongdan{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-rizhi{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-shiwubang{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-wd-copy-copy{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-dingqixiaojie{
    color:green;
    float:left;
    margin-top:10px;
    margin-left: 10px;
}
.icon-jiantou{
    float:right;
    margin-top: -30px;
}
.icon-refresh{
    color:white;
    float:right;
    margin-top: -45px;
    margin-right:10px;

}
.icon-tuijianfuwu{
    margin-top: 20px;
    margin-left: 20px;
}
.icon-jiantouarrowhead7{
    color:white;
    
}
.search{
    width:300px;
    height:40px;
    margin-top:20px;
    margin-left:40px;
    background-color:white;
    border:1px solid rgb(86,186,186)
}
#left{
    width:90px;
    height:30px;
    margin-top:20px;
    margin-left: 35px;
}
#right{
    width:100px;
    height:30px;
    margin-top: -30px;
    margin-left: 240px;
}
#compare{
    float:right;
    margin-right: 3px;
    margin-top: 0px;
    color:white;
}
#bang{
   
    margin-left: 18px;
    margin-top: -19px;
    color:white;
}
#healthy{
    width:300px;
    height:230px;
    background-color: white;
    box-shadow: 2px 2px 10px #909090;
    margin-left: 38px;
    margin-top: 20px;
    padding-top: 15px;
    border-radius: 30px 30px 30px 30px;
}
#rec{
    font-size: 17px;
    padding-left: 30px;
}
#rep{
    font-size: 15px;
    padding-left: 120px;
    color: grey;
}
#eat{
    width:350px;
    height:600px;
    background-color: white;
    margin-left: 10px;
    margin-top: 20px;
    padding-top: 10px;
}
#morning{
    width:350px;
    height:100px;
    background-color: white;
    margin-left: 0px;
    margin-top: 20px;
    padding-top: 10px;
}
#morning li{
    float: left;
}
#picture{
    width:100px;
    height:100px;
    margin-left:13px;
    margin-top:3px;
}

/*食物排行榜*/
.foodrank{
    width: 100%;
    height: 900px;
    background-color: white;
}
.foodrank-header{
    height: 40px;
    text-align: center;
    line-height: 40px;
    color:white;
    font-size: 18px;
    background-color: rgb(86,186,186);
}
.foodrank-header span{
    margin-right: 120px;
}
.foodrank ol{
    margin-top: 0px;
    width: 90px;
    height: 550px;
    background-color: rgb(238, 237, 237);
}
.foodrank ol li{
    width: 130px;
    height: 45px;
    margin-left: -40px;
    text-align: center;
    line-height: 45px;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}
.foodrank ol li:hover{
    background-color: lightgray;
}
.foodlist{
    float: left;
    margin-top: -548px;
    margin-left: 150px;
    width: 278px;

}
.foodlist li{
    width: 278px;
    height: 80px;
    border-bottom:1px solid silver ;
}
.foodlist-name{
    float: right;
    margin-right: 35px;
    margin-top: 20px;
}
.foodlist-name p{
    width: 150px;
}
.foodrank-picture{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}
/* 每日推荐 */
#recommend{
    width:160px;
    height:200px;
    background-color:white;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
    box-shadow: 2px 2px 10px #909090;
   
}
/* 我的 */
#user{
    width:50px;
    height:50px;
    margin-left: 20px;
    margin-top: 40px;
    
}
#nav{
    width:300px;
    height:70px;
    background-color:white;
    margin-top:-30px;
    margin-left:35px;
    border-radius: 10px 10px 10px 10px;
    border:1px solid #ccc;
}
#mytrend{
    width:60px;
    height:60px;
    float:left;
    margin-left:30px;
    margin-top: 5px;
    background-color: white;
}
#mytrend img{
    width:60px;
    height:60px;
}
#report{
    width:340px;
    height:700px;
    background-color:white;
    margin-left:15px;
    margin-top:10px;
    border-radius: 10px 10px 10px 10px;
    border:1px solid #ccc;
}
#healthyrep{
    width:320px;
    height:40px;
    background-color: white;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;

}
#word{
    padding-top:10px;
    padding-left:40px;
}
/* 对比详情页 */
#comleft{
    position: relative;
    width:90px;
    height:90px;
    background-color:white;
    float:left;
    margin-left:50px;
    margin-top:30px;
    border:1px solid #ccc;
}
#conright{
    position: relative;
    width:90px;
    height:90px;
    background-color:white;
    float:left;
    margin-left:90px;
    margin-top:30px;
    border:1px solid #ccc;
}
.compare-img{
    position: absolute;
    width: 90px;
    height: 90px;
}
/* 添加食物 */
#mornfood li{
    border-bottom: 1px solid #ccc;
}
/* 健康报告 */
#score{
    width:100px;
    height:100px;
    background-color: white;
    margin-left: 135px;
    margin-top: 40px;
    border-radius: 55px;
    border:5px solid rgb(86,186,186);
}
#weight{
    width:350px;
    height:200px;
    margin-left: 13px;
    margin-top: 20px;
    background-color: white;
}
#diary{
    width:350px;
    height:400px;
    margin-left: 13px;
    margin-top: 20px;
    background-color: white;
}
#weekday{
    width:35px;
    height:200px;
    background-color: white;
    border-right: 1px solid #ccc;
    float:left;
    margin-left: 13px;
    margin-top: 10px;
}